.font {
          font-family: "Truculenta", sans-serif;
          font-optical-sizing: auto;
          font-weight: weight;
          font-style:bold;
          font-variation-settings:"wdth" 100;
                  } 